# All required liraries to be installed to run all modules in this project

# Testing and code checking
hypothesis
pytest
python-ta~=2.7.0

# Graphics and graph_data visualization
plotly>=5.18.0
pygame==2.5.2
dash~=2.16.1

networkx~=3.2.1
numpy
scipy
kaleido
igraph~=0.11.4
